<!DOCTYPE html>

<html>
  <head>
    <title>Anime-studio.fr</title>
  </head>
  <h1>Bienvenue sur la page d'accueil</h1>
  <h2>Vous êtes un habitué? Connectez-vous</h2>
  <h2>C'est votre toute première fois ? Inscrivez vous</h2>
  <body>
  </body>

</html>