<!DOCTYPE html>

<html>
  <head>
    <title>Anime-studio.fr</title>
  </head>
  <h1>Bienvenue sur la page d'inscription</h1>
  <div cass="formulaire">
  	{{ form(form) }}
  </div>
  <body>
  </body>

</html>